<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Signup</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Profile</title>

    <style>

        .background {
            background-image : url('/static/Image/back.jpg');
            width : 100%;
        }


    </style>
</head>
<body>

<div class = "background"><br>
    <form action = "{{url_for('CustomerProfile', Email=Email)}}" method = "POST" align = "center"> <br>
        <div class = "main" align = "center" style = "border : 1px solid black; background-color : white; width : 60%; height : 715px; margin-left : auto; margin-right : auto; margin-top : 1%; border : 2px solid back; border-radius : 10px;">
            <div id = "back" align = "left" style = "margin-left : 3.5%;">
                <div id = "header">
                <h1 style = " font-size : 35px; font-family : chalkboard; margin-top : 3%; color : maroon; text-align : center;"> Customer Profile </h1>
                </div>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style = "color : green; font-size : 18px; "> {{message}} </br>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <p style = "font-size : 20px;"> User Name </label>
                <input type = "text" name = "UserName" value = "{{r[1]}}" autofocus = "autofocus" placeholder = "Your Full Name" required = "required" style = "background-color : #DCDCDC ; width : 95%; margin-top : 1%; margin-bottom : 0.5%;  height : 30px; border : 1% solid black; border-radius : 5px;  font-size : 18px;"/>

                <p style = "font-size : 20px;"> Email ID </label>
                <input type = "email" name = "Email" placeholder = "{{r[0]}} (Email Id cannot be changed.)" maxlength="0" style = "background-color : #DCDCDC ; width : 95%; margin-top : 1%; margin-bottom : 0.5%;  height : 30px; border : 1% solid black; border-radius : 5px;  font-size : 18px;"/>

                <p style = "font-size : 20px;"> Date Of Birth </label>
                <input type = "date" name = "Dob" value = "{{r[2]}}" required = "required" style = "background-color : #DCDCDC ; width : 95%; margin-top : 1%; margin-bottom : 0.5%; height : 30px; border : 1% solid black; border-radius : 5px;  font-size : 18px;"/>

                <p style = "font-size : 20px;"> Address </label>
                <input type = "text" rows = "1" cols = "150" name = "Address" value = "{{r[3]}}" required = "required" style = "background-color : #DCDCDC ; width : 95%;  height : 30px; margin-top : 1%; margin-bottom : 0.5%;  border : 2px solid black; border-radius : 5px;  font-size : 18px;">

                <p style = "font-size : 20px;"> Pin Code </label>
                <input type = "pin"  length = "6" name = "Pincode" value = "{{r[4]}}" placeholder = "Your Pincode" required = "required" style = "background-color : #DCDCDC ; width : 95%; margin-top : 1%; margin-bottom : 0.5%;  height : 30px; border : 1% solid black; border-radius : 5px;  font-size : 18px;"/>

                <div class = "buttons" align = "center" >
                    <button type = "submit" style = "margin-top : 3%; height : 30px; width : 30%; border : 2px; border-radius : 5px;  font-size : 20px; background-color : #FFA500; color : white;"> Update </button> &nbsp; &nbsp; OR &nbsp; &nbsp;
                    <button type = "reset" style = "margin-top : 3%; height : 30px; width : 30%; border : 2px; border-radius : 5px;  font-size : 20px; background-color : red; color : white;"> Reset </button>
                </div>
            </div><br><br><br>
        </div><br><br>
        <p align = "left" style = "margin-left : 3%; color : white;"> Shahzada Moon | Copyright, 2024 </p><br>
    </form>
</div>

</body>
</html>